#header-menu {
  display: flex;
  z-index: 2;
  justify-content: center;

  border-bottom: 1px solid #8f8f8f;
  width: 100vw;
}

.menu-box {
  justify-content: space-between;
  align-items: center;
  height: 147px;
}

.logo {
  height: 147px;
}
