.page-title {
  margin-top: 30px;
  font-size: 50px;
  font-weight: normal;
}

.box-evento {
  height: 300px;
  margin-top: 50px;

  grid-template-columns: 30% 70%;
  grid-template-rows: 1fr;
  grid-row-gap: 20px;

  border-radius: 10px;
  box-shadow: 0px 5px 15px 0px rgba(35, 41, 54, 0.15);
}

.evento-capa {
  background-size: cover;
  height: 300px;
  border-top-left-radius: 20px;
}

.evento-description {
  flex-direction: column;
  margin-left: 30px;
  margin-top: 30px;
}

.evento-description p {
  margin-top: 10px;
}

.evento-title {
  color: #404040;
  font-size: 50px;
}

.evento-date {
  color: #404040;
  font-size: 30px;
}

.evento-adress {
  color: #404040;
  font-size: 30px;
}

.evento-category {
  color: #404040;
  font-size: 25px;
  margin-right: 20px;
}

.evento-price {
  color: #404040;
  font-size: 25px;
  margin-left: 20px;
}


@media (max-width: 900px) {
  .box-evento {
    height: 100%;

    grid-template-columns: 1fr;
    grid-template-rows: 30% 70%;
    grid-row-gap: 20px;
  }

  .evento-capa {
    grid-row: 1/2;
  }

  .evento-description {
    grid-row: 2/3;
    margin-top: 100px;
  }
}
