* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Lato", sans-serif;
  width: 100vw;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 50px;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.container {
  width: 960px;
}

@media (max-width: 900px) {
  .container {
    width: 100vw;
  }
}
